.hero-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url('../images/bkg/people-office-bkg-mobile.jpg');
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) and (min-width:320px) {
    .hero-section {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url('../images/bkg/people-office-bkg-mobile@2x.jpg')
    }
}



/* Tablet */

@media screen and (min-width:768px) {
    .hero-section {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url('../images/bkg/people-office-bkg-tablet.jpg');
        background-size: cover;
        padding-top: 112px;
        padding-bottom: 112px;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width:768px) {
    .hero-section {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url('../images/bkg/people-office-bkg-tablet@2x.jpg')
    }
}



/* Decktop */

@media screen and (min-width:1440px) {
    .hero-section {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url('../images/bkg/people-office-bkg-desktop.jpg');
        background-size: cover;
        padding-top: 188px;
        padding-bottom: 188px;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 100%;
        margin: 0 auto;
    }
}


@media screen and (min-resolution: 192dpi) and (min-width:1440px) {
    .hero-section {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url('../images/bkg/people-office-bkg-desktop@2x.jpg');
    }
}