/* Mobile */

.advantages-section {
    background-color: #FFFFFF;
    padding-top: 96px;
    padding-bottom: 96px;
}

.advatages-section-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.advantages-icons-container {
    display: none;
}

.advantages-section-item-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}

.advantages-section-item-paragraph {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;
}


/* Tablet */

@media screen and (min-width:768px) {

    .advantages-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .advatages-section-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .advantages-item {
        width: calc((100% - 24px) / 2);
    }

    .advantages-section-item-title {
        text-align: left;
        line-height: 1.2;
    }
}





/* Decktop */

@media screen and (min-width:1158px) {

    .advantages-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advatages-section-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .advantages-item {
        width: calc((100%-24*3)/4);
    }

    .advantages-icons-container {
        display: flex;
        margin-bottom: 8px;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
    }


    .advantages-section-item-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .advantages-section-item-paragraph {
        font-weight: 400
    }
}